URxvt*scrollBar: false
URxvt*background: #080808
URxvt*foreground: White
URxvt*modifier: alt
!URxvt.font:            xft:Courier New:pixelsize=15
!URxvt.boldFont:        xft:Courier New:pixelsize=15:style=Bold
!URxvt.font:            xft:Ubuntu Mono:pixelsize=16,style=regular
!URxvt.boldFont:        xft:Ubuntu Mono:pixelsize=16,style=bold
!URxvt.font:            xft:DejaVu Sans Mono:pixelsize=14:style=Book
!URxvt.boldFont:        xft:DejaVu Sans Mono:pixelsize=14:style=Bold
!URxvt.font:            xft:Monospace:size=10.5
!URxvt.boldFont:        xft:Monospace:bold:size=10.5
!URxvt.font:             xft:Meslo LG M for Powerline:size=10.5
!URxvt.boldFont:         xft:Meslo LG M:bold:size=10.5
!URxvt.italicFont:       xft:Meslo LG M:italic:size=10.5
!URxvt.boldItalicFont:   xft:Meslo LG M:bold:italic:size=10.5
URxvt.font:             xft:Roboto Mono Medium for Powerline:size=11
URxvt.boldFont:         xft:Roboto Mono Medium for Powerline:bold:size=11
URxvt.italicFont:       xft:Roboto Mono Medium for Powerline:italic:size=11
URxvt.boldItalicFont:   xft:Roboto Mono Medium for Powerline:bold:italic:size=11
!URxvt.letterSpace:-1
URxvt.saveLines: 5000

! Resize fonts on the fly
URxvt.perl-ext-common:  resize-font

! Disable Keycap Picture Insert and ISO-14755 Mode. Trigger by Ctrl-Shift
URxvt.iso14755_52:        false
URxvt.iso14755:           false

!xft.dpi: 100
xft.antialias: true
xft.hinting: true
xft.hintstyle: hintslight

Xcursor.theme: Vanilla-DMZ-AA
